In [3]:
import os
import pandas as pd

In [4]:
os.listdir('data')

['Basisdatenkatalog_2022_2.csv', 'Uebersicht_Basisdatenkatalog_3.csv']

In [21]:
overview = pd.read_csv('data/Uebersicht_Basisdatenkatalog_3.csv', sep=';')
overview.head(1)

,Nr,Merkmal,Schlüssel,Quelle
0,1,"Einwohner*innen, gesamt",A0025A,Stadt Köln - Amt für Stadtentwicklung und Stat...

In [22]:
base = pd.read_csv('data/Basisdatenkatalog_2022_2.csv', sep=';', encoding='latin-1')
base.head(1)

,Nummer,Statistisches Quartier,A0002A,A0022S,A0025A,A0027A,A0029A,A0035A,A0043A,A0060A,...,H0043A,H0044A,H0045A,H0046A,H0047A,H0048A,H0049S,H0050S,H0051S,H0052S
0,101010001,Kapitol-Viertel,298,"42,75307174",1682,102,23,11,26,69,...,*,0,25,30,41,0,"1700,778271","193,4922737","98,95584989","331,1533888"